.mainContent {
    display: flex;
}

.userGroupWrapper {
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 1;
    color: #fff;
    background-color: #2A2845;
    padding: 20px 0 px 40 px 30px;
    border-right: 1px solid #222;
}

.feedWrapper {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 5;
    order: 2;
    overflow-y: scroll;
    padding: 20px 0px 0px 24px;
    background-color: #fff;
    background: linear-gradient(45deg, rgba(255,103,0,0.3), rgba(0, 0, 80, 0.9));
}

.chatFormWrapper {
    display: flex;
    height: 50px;
    background-color: #eee;
    z-index: 3;
}

#scroll-style::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

app-user-list {
    width: 100%;
}